body {
  margin: 0;
  background: #ffffff;
}

body * {
  box-sizing: border-box;
}

article {
  color: #444444;
  width: 100vw;
  min-width: 320px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  width: 960px;
  margin: auto;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);

  @media (max-width: 960px) {
    padding: 10px 10px 5px;
  }
}

%grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Fields. */
.fields {
  @extend %grid;

  input {
    width: 24%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 0;
    outline: none;

    &[data-format-number] {
      width: 100%;
      text-align: center;
      margin: 20px 0;
    }
  }

  @media (max-width: 768px) {
    input {
      width: 49%;

      &[data-format-card],
      &[data-format-phone] {
        margin: 0 0 20px;
      }
    }
  }

  @media (max-width: 425px) {
    input {
      width: 100%;

      &[data-format-date] {
        margin: 0 0 20px;
      }
    }
  }
}

/* Other. */
.other {
  @extend %grid;

  .price,
  .bytes {
    font: 14px 'Arial';
  }
}
